html,
body {
    width: 100%;
    min-height: 100vh;
}

main {
    width: 100%;
    background-color: rgba(1, 1, 1, 0);
    margin-bottom: 45px;
}

img {
    width: 30%;
    overflow-y: hidden;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.code-block {
    white-space: pre-line;
    max-height: 20vh;
    overflow-y: auto;
}

.cv {
    padding-bottom: 40px;
}

.code {
    background-color: rgb(233, 233, 233);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    padding: 15px;
    width: 100%;
}

.university {
    font-weight: bold;
    font-size: 1.2em;
}

.degree-level {
    font-style: italic;
}

.date {
    font-style: italic;
    text-align: right;
}

.advisor {
    font-style: italic;
    margin-left: 5%;
}

.footer {
    font-size: 0.7em;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    color: rgb(255, 255, 255);
    /* text-align: center; */
    padding-left: 2%;
    padding-right: 5%;
    background-color: #033C5A;
    min-height: 40px;
}

.footer a {
    color: rgb(128, 193, 250);
}